# terraform
deployment/terraform/.terraform
deployment/terraform/.terraform.lock.hcl
deployment/terraform/terraform.tfstate
deployment/terraform/terraform.tfstate.backup
deployment/terraform/.terraform.tfstate.lock.info